<div class="deckArea">
  <game-card class="deck" *ngIf="deckRemaining" [card]="null" [size]="cardSize"
    [faceUp]="false"></game-card>
</div>

<div class="dealArea">
  <div class="deal" *ngIf="deal1">
    <game-card [card]="card" [size]="cardSize" *ngFor="#card of deal1" [faceUp]="true"
      class="container"></game-card>
  </div>

  <div class="deal" *ngIf="deal2">
    <game-card [card]="card" [size]="cardSize" *ngFor="#card of deal2" [faceUp]="true"
      class="container"></game-card>
  </div>
</div>
