.gameboard {
  width: 800px;
  height: 600px;
  background: url(assets/background1.jpg);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.player {
  height: 140px;
  width: 600px;
}

.cards {
  height 100%;
  display: flex;
  flex-direction: column;
}

.pots {
  flex-grow: 1;
  height 100%;
}

.deal {
  width: 600px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
